
div.navbar 
  //-navbar title
  a#title(href='/') Survey Generator
  
  //-navbar login/register/logout buttons
  if (!currentUser)
    a#login(href='/login') LOGIN
    span#login / 
    a#login(href='/register') REGISTER
  else
    a#logout(href='/logout') LOGOUT
    div#username=currentUser