div.fields
  div.error-message=usernameErrorMessage
  label username:
  input(name='username')

div.fields
  div.error-message=passwordErrorMessage
  label Password:
  input(name='password', type='password')